<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <h2>Hello {{ user.email }}</h2>
    <p>You requested a password reset. Use the link below:</p>
    <p>
      <a href="{{ url }}">
        Reset Password
      </a>
    </p>
    <p>This link will expire in 1 hour.</p>
  </body>
</html>
