<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Email Verification</title>
  </head>
  <body>
    <h1>Verify your account</h1>
    <p>Click the link below to verify your email:</p>
      <a href="https://jm-todo-nextjs.vercel.app/auth/verify-email?token=${verificationToken}">
      Verify my account
    </a>
  </body>
</html>
